body {
  font-family:Arial;
  background-color:#001e4a;
  color:white;
}
.mango {
  
    color:#569f21;
     font-size:27px;
}
#jaam span{
  
      color: yellow;
  
}
.info{
    
  border:2px solid red;
  padding:20px ;
  
  
}
b{
  
  color:red;
}
.khatal{
  
     width:300px;
     
     
}

  
  